{% extends 'registration-base.html' %}

{% block title %}<title>login</title>{% endblock %}

{% block main %}
  <div class="container">
    <h1>LOG IN</h1>
    <form action="/login" method="POST">
      <input type="text" name="email" placeholder="email">
      <input type="password" name="password1" placeholder="password">
      <div><button type="submit">LOG IN</button></div>
    </form>
    <p id="go-to-main"><a href="{{ url_for('signup') }}">You don't have an account yet?</a></p>
  </div>

{% endblock %}