#profile {
  width: 100%;
  /* margin: 16px auto; */
  margin-top: 0;
  margin-bottom: 20px;
  padding: 4px;
  padding-top: 17px;
  display: grid;
  align-items: center;
  grid-template-columns: 10% 1fr 10% 1fr;
  grid-template-rows: 25px 25px 1fr;
  background-color: rgba(35,34,38,0.85);
  gap: 15px 0;
}

#profile input {
  padding: 7px;
  background-color: rgba(191,172,155,0.75);
  color: #fff;
}

::placeholder {
  color: #fff;
}

.prof-p {
  font-size: 12px;
  /* margin: 0; */
}

#edit-btn {
  grid-column: 1 / 5;
  margin-top: 15px;
}

#edit-btn > button {
  margin: 0 0 15px 0;
}


/* -------------------------------------------------------- */

#records {
  display: flex;
  width: 100%;
  gap: 10px;
}

#distribution-byCategory, #correct-rate-byCategory {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: rgba(191,172,155,0.75);
  padding:0 5px 10px 0;
}

h6 {
  border-image: linear-gradient(to left, #666 0%, #fff 100%) 1/0 0 1px 0;
  border-style: solid;
  padding-bottom: 5px;
}

#records li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: right;
  height: 20px;
}

.p {
  height: 15px;
}

.name {
  margin-left: 5px;
}

.bar {
  height: 15px;
  /* change width according to the win rate */
  margin-left: 15px;
}

#category-bar {
  background-color: #4C7373;
}
#correct-bar {
  background-color: #8C323A;
}

.percentage {
  margin-left: 15px;
  font-size: 13px;
  margin-right: 5px;
}