{% extends 'base.html' %}

{% block title %}<title>account</title>{% endblock %}
{% block css %}
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/chart.css') }}">
{% endblock%}

{% block main %}

<form action="/account" method="POST" id="profile">
  <p class="prof-p">Name</p>
  <input class="prof-p" value="{{ user }}" name="name">
  <p class="prof-p">Email</p>
  <input class="prof-p" value="{{ email }}" name="email">
  <p class="prof-p">Current passwword</p>
  <input class="prof-p" name="current_pass" placeholder="current password">
  <p class="prof-p">New passwword</p>
  <input class="prof-p" name="new_pass" placeholder="new password">
  <div id="edit-btn">
    <button>Edit</button>
  </div>
</form>

<div id=records>
  <div id="distribution-byCategory">
    <h6>Total played - Category percentage</h6>
    {% for item in games_list %}
      <li>
        <p class="p name" style="font-size: 15px;">{{ item['name'] }}</p>
        <p class="bar" id="category-bar" style="width: {{ item['percentage'] }}%;"></p>
        <p class="percentage p">{{ item['percentage'] }}%</p>
      </li>
    {% endfor %}
  </div>
  <div id="correct-rate-byCategory">
    <h6>Correct answer percentage</h6>
    {% for item in correct_list %}
      <li>
        <p class="p" style="font-size: 15px;">{{ item['name'] }}</p>
        <div class="bar" id="correct-bar" style="width: {{ item['percentage'] }}%;"></div>
        <p class="percentage p">{{ item['percentage'] }}%</p>
      </li>
    {% endfor %}
  </div>

</div>


{% endblock %}
