{% extends 'base.html' %}

{% block title %}<title>finish</title>{% endblock %}

{% block main %}
<div id="result">
  {% for item in QandA_list %}
    <div class="QandA">
      <p>{{ loop.index }}.</p>
      <p class="result-question">
        {{ item['question'] }}
      </p>
      <p class="answer">{{ item['answer'] }}</p>
    </div>
  {% endfor %}
  <div class="play">
    <h4 class="play-btn" style="margin:20px 0 5px 0; padding: 6px;"><a href="{{ url_for('quiz_top') }}"">Try again!</a></h4>
  </div>
</div>
{% endblock %}
