{% extends 'base.html' %}

{% block title %}<title>start</title>{% endblock %}

{% block main %}
<h1 class="page-title">Quiz page</h1>
<div>
  <p><a href="{{ url_for('quiz_main', categoryName='linux')}}">Linux</a></p>
  <!-- <p><a href="{{ url_for('quiz_main', categoryName='python')}}">Python</a></p> -->
  <p><a href="{{ url_for('quiz_main', categoryName='network')}}">Network</a></p>
  <!-- <p><a href="{{ url_for('quiz_main', categoryName='docker')}}">Docker</a></p> -->
  <p><a href="{{ url_for('quiz_main', categoryName='computer')}}">Computer</a></p>
  <p><a href="{{ url_for('quiz_main', categoryName='database')}}">Database</a></p>
  <p>↓ Code ↓</p>
  <div id="code-choices">
    <p><a href="{{ url_for('quiz_main', categoryName='html')}}">HTML</a></p>
    <p><a href="{{ url_for('quiz_main', categoryName='css')}}">CSS</a></p>
    <p><a href="{{ url_for('quiz_main', categoryName='javascript')}}">JavaScript</a></p>
    <p><a href="{{ url_for('quiz_main', categoryName='python')}}">Python</a></p>
  </div>
  <p><a href="{{ url_for('quiz_main', categoryName='git')}}">Git</a></p>
</div>
{% endblock %}