{% extends 'base.html' %}

{% block title %}<title>main</title>{% endblock %}
{% block js %}
<script type="text/javascript">
  let answer = JSON.parse('{{ correct_answer|tojson }}')
</script>
{% endblock %}

{% block main %}
  <div id="quiz-wrapper">
    <div id="question">
      <p>
        {{ quiz['question'] }}
      </p>
    </div>
    <div id="options">
      {% for item in quiz['answers'].values() %}
        <form action="/progress" method="POST">
          <input type="hidden" name="quiz-id" value="{{ quiz['id'] }}">
          <input type="hidden" name="chosen-answer" value="{{ options_list[loop.index -1] }}" class="options">
          <button value="{{ options_list[loop.index -1] }}"  class="answer-submit" onclick="disableAnswers(event)">{{ item }}</button>
        </form>
      {% endfor %}
    </div>
  </div>
  {% if is_admin == True %}
  <div id="admin-btn">
      <p><a href="/update/{{ quiz['id'] }}">Update this quiz</a></p>
      <p><a href="/delete/{{ quiz['id'] }}">Delete this quiz</a></p>
  </div>
  {% endif %}
{% endblock %}





