{% extends 'base.html' %}

{% block title %}<title>main</title>{% endblock %}

{% block main %}
<h1>QUIZ</h1>
<!-- <p>{{ quiz }}</p> -->
<div id="quiz-wrapper">
  <div id="question">
    <p>
      {{ quiz['question'] }}
    </p>
  </div>
  <div id="options">
    {% for item in quiz['answers'].values() %}
      <form action="/progress" method="POST">
        <input type="hidden" name="quiz-id" value="{{ quiz['id'] }}">
        <input type="hidden" name="chosen-answer" value="{{ options_list[loop.index -1] }}">
        <button type="submit">{{ item }}</button>
      </form>
    {% endfor %}
  </div>
</div>
{% endblock %}




